body{
	text-align: center;
}
*{
	margin: 0px;
	padding: 0px;
}
canvas{
	/*position: absolute;*/
	margin-top: 100px;
	/*top: 40px;*/
	/*left:420px;*/
	border: 1px solid #cfcfcf;
	border-radius: 5px;
	opacity: 0.8;
	float: center;
	/*width: 400px;*/
	/*height:400px;*/
	-webkit-box-shadow:0px 3px #cfcfcf;
	box-shadow:0px 3px #cfcfcf;
}
/*map.html*/
#tilemap{
	width: 320px;
	height:320px;
}
/*jigsaw.html*/
#pintu{
	height: 800px;
	width: 800px;
	position: absolute;
	margin-top: 0px;
	top: 40px;
	left:460px;
	border: 1px solid #cfcfcf;
	border-radius: 5px;
	opacity: 0.8;
	float: center;
	/*width: 400px;*/
	/*height:400px;*/
	-webkit-box-shadow:0px 3px #cfcfcf;
	box-shadow:0px 3px #cfcfcf;
}
.pintu_option{
	position: absolute;
	top: 40px;
	left: 10px;
	text-align: left;
	/*margin-top: 100px;*/
	border: 1px solid #cfcfcf;
	border-radius: 5px;
	opacity: 0.8;
	width: 400px;
	height:800px;
	-webkit-box-shadow:0px 3px #cfcfcf;
	box-shadow:0px 3px #cfcfcf;
}
.pintu_option p,span{
	line-height: 34px;
	text-indent: 25px;
}
.pintu_option button{
	margin-top: 10px;
	margin-bottom: 10px;
}
.pintu_option #next{
	float: right;
	margin-right: 10px;
}
.pintu_option img{
	opacity: 0;
	width: 100%;
	height: auto;
}
/*fontStyle.html*/
.fontstyle{
	position: absolute;
	/*margin-top: 100px;*/
	top: 40px;
	left:420px;
	border: 1px solid #cfcfcf;
	border-radius: 5px;
	opacity: 0.8;
	width: 800px;
	float: center;
	-webkit-box-shadow:0px 3px #cfcfcf;
	box-shadow:0px 3px #cfcfcf;
}
form{
	position: absolute;
	top: 40px;
	left: 10px;
	text-align: left;
	/*margin-top: 100px;*/
	border: 1px solid #cfcfcf;
	border-radius: 5px;
	opacity: 0.8;
	width: 400px;
	height:800px;
	-webkit-box-shadow:0px 3px #cfcfcf;
	box-shadow:0px 3px #cfcfcf;
}
form div{
	position: relative;
	width: 100%;
	line-height: 40px;
	border-bottom: 1px solid #cfcfcf;
}
label{
	padding:10px;
}
input,select{
	float: right;
	margin-top:10px;
	outline: none;
}

/*tanks.html*/
.tanks_option{
	position: absolute;
	top: 40px;
	left: 10px;
	text-align: left;
	/*margin-top: 100px;*/
	border: 1px solid #cfcfcf;
	border-radius: 5px;
	opacity: 0.8;
	width: 400px;
	height:800px;
	-webkit-box-shadow:0px 3px #cfcfcf;
	box-shadow:0px 3px #cfcfcf;
}
.tanks_option ul{
	/*width: 100%;*/
	/*background-color: #aaaaaa;*/
	margin-top: 20px;
	border-top: 1px solid #cfcfcf;
}
.tanks_option ul li{
	text-align: right;
	display: block;
	line-height: 34px;
	border-bottom: 1px solid #cfcfcf;
}
.tanks_option span{
	/*position: relative;*/
	font:16px bold "微软雅黑";
	padding-right: 20px;
	/*float: center;*/
}
.tanks_option ul li span{
	float: left;
}